

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-title span {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 3px solid #008000;
    padding-bottom: 5px;
}

.impressum-container {
    line-height: 1.8;
    color: white;
    font-size: 16px;
}


.info-section {
    margin-top: 15px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    color: rgba(255, 255, 255, 0.719);
}

.info-section p {
    margin-bottom: 10px;
}

.contact-info a {
    color: #008000 !important;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .imprint-section {
        padding: 30px 10px;
    }

    .section-title span {
        font-size: 24px;
    }
}
